Create a file /etc/security/pam_pts.confdir that contains the full
pathname of a configuration directory. If the
/etc/security/pam_pts.confdir file does not exist, pam_pts will always
allow. If it does exist but the pathname it points to does not,
pam_pts will always deny. 

Create an authorization directory somewhere in which you will place a
pam_pts authorization configuration.  By default, the
/etc/security/pam_pts.confdir file will point to /etc/security/pam_pts/.

In the authorization directory, create a file 'default.' In that file
you will place the description of pam_pts groups you want to permit or
deny. For example:

------------------------
loginusers:deny deny
itorg:staff *
othergroup *
loginusers:subscribers ssh sshd
------------------------

Note: you can also create a host-specific configuration file with the
hosts's name, as is returned by the gethostname() call.

Format of the file and how it's processed:

Leading whitespace, empty lines, and #-delimited comments are ignored.

Properly formatted lines should have a pts group name, some
whitespace, and one or more service names separated by whitespace.
Badly formatted lines are silently skipped.

For each valid line in the file each service on the line is checked.
If the service name is 'deny' the default action is set to deny. If
the service name matches the access the user is requesting the default
action is set to accept. A '*' matches all services. If there's no
match, we skip the line.

If there is a match, we look to see if the user is a member of the pts
group. If he is, the default action is applied (accept or deny) and
we're done. If not, we try the next entry in the file.

If we get to the end of the file and there has been no definitive
accept or deny, access is denied.

